.c-btn{
    border-radius: 30px;
    color:$color_white1;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    font-size: $font-size_s;

    padding: $space_m $space_l;
    box-sizing: border-box;

    background: $color_sub;
    &:hover{
        transform: translateY(-3px);
        transition: .3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    }

}