.c-btn{
    border-radius: 30px;
    color:$color_white1;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    font-size: $font-size_s;

    padding: $space_m $space_l;
    box-sizing: border-box;

    background-color: $color_sub;
    &:hover{
        transform: translateY(-3px);
        transition: .3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;

    }

    &--warning{

        color: $color_black1;

        color: $color_danger;

        background-color: $color_warning;
    }

    &--reduce-childstep{
        background-color: $color_warning;
        color: $color_black2;
    }

    &--add-childstep{
        background-color: $color_safe;


    }
    &__row-btn-area{
        display: flex;
        justify-content: space-around;
        margin-bottom: $space_xxl;
    }

}