.c-container{
    width: $site-width_pc;
    margin: 0 auto;
    @include mq() {
        width: 100%;
    }
    &__title{
        text-align: center;
        font-size: $font-size_xxl;
        font-family: 'Georgia', serif;

        &--toppage{
            margin: $space_3l 0;
            color: $color_main;
            font-weight: bold;
        }
    }

    &__sub-title{
        text-align: center;
        font-size: $font-size_ss;
    }

    
}