.c-menu-hamburger{

    display: none;

    @include mq(sm) {
        display: inline-block;


    }

    
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    right:5px;
    top:8px;
    width: 50px;
    height: 44px;

    z-index: 10;

    
    &__line{
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $color_black2;
        border-radius: 4px;
        

        &:nth-child(1) {
            top: 0;
            
        }
        &:nth-child(2) {
            top: 20px;
        }
        &:nth-child(3) {
            bottom: 0;
        }
        
        
        &.active{

            &:nth-child(1) {
                -webkit-transform: translateY(20px) rotate(-315deg);
                transform: translateY(20px) rotate(-315deg);
                
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                -webkit-transform: translateY(-20px) rotate(315deg);
                transform: translateY(-20px) rotate(315deg);
            }
        }
    }
}