.c-pagination{
    margin-top: $space_xxl;
    padding-bottom: $space_xxl;
    &__list{
        display: flex;
        justify-content: center;
    }


    &__link{
        display: block;
        box-sizing: border-box;
        padding: $space_m;
        text-align: center;
        vertical-align: center;
        color: $color_black3;
        font-weight: bold;

        &--now{
            color: $color_black1;
        }
        &:hover{
            color: $color_black1;
        }
    }

    &__list-item{
        color: $color_black1;

    }


}


