.c-panel-one-child-step{
    //width: 33%;
    //width: 100%;

    //    background-color: red;
    border-radius: 5px;

    background-color: $color_white1;
    border: 1px solid $color_grey_heavy;
//    margin-left: $space_l;
//    
//    &:last-child{
//        margin-right: $space_l;
//
//    }
    
    &__title-head{
        font-size: $font-size_xl;
//        margin-top: $space_m; 
        padding: $space_m;
        background-color: $color_main;
        color: $color_white1;
        border-radius: 5px 5px 0 0;
        text-align: center;
        font-family: $font-family_sub;
    }

    &__title-body{
        width: 95%;
        border-radius: 5px;
        display: block;
        margin: $space_m auto;

        height:50px;
        font-size: $font-size_l;
        box-sizing: border-box;
        outline: none;
        padding: $space_m;


        &:focus {
            border: 3px solid $color_accent;
        }

        &::placeholder {
            color: $color_black3;
        }


    }

    &__detail-head{
        font-size: $font-size_m;
        margin-top: $space_l; 
        margin-left: $space_m;
        text-align: center;
        padding: $space_s;
        background-color: $color_grey_light;
        color: $color_black1;
        width: 40px;
        border-radius: 5px;

    }

    &__detail-body{
        width: 95%;

        border-radius: 5px;
        display: block;
        margin: $space_m auto;
        height:200px;
        border-radius: 5px;
        font-size: $font-size_l;
        box-sizing: border-box;
        outline: none;
        padding: $space_m;
        &:focus {
            border: 3px solid $color_accent;
        }
    }


}