.c-step-detail{
    margin-top: $space_4l;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        //        margin-left: $space_8l;
        font-family: $font-family_sub;
        @include mq(sm) {
            //            display: none;
            display: block;
        }

    }

    &__info{
        display: flex;
        //        text-align: center;
        justify-content: flex-start;
        margin-left: $space_xxl;
    }

    &__category{
        margin-right: $space_xl;


        &-head{
            font-size: $font-size_s;
            margin-bottom: $space_s;
            color: $color_black1;
            font-weight: bold;
            background-color: $color_accent;
            padding: $space_s;
            width: 60px;

            text-align: center;
            border-radius: 3px;

        }
        &-body{
            font-size: $font-size_l;
            //            color: $color_accent;
            font-weight: bold;
            margin-top: $space_l;
        }
    }
    &__user{
        &-head{
            font-size: $font-size_s;
            margin-bottom: $space_s;
            color: $color_black1;
            font-weight: bold;
//            color: $color_main;
            font-weight: bold;
            background-color: $color_accent;
            padding: $space_s;
            width: 40px;
//            width: 150px;

            text-align: center;

            border-radius: 3px;



        }
        &-body{
            font-size: $font-size_l;
            font-weight: bold;
            margin-top: $space_l;


        }
    }

    &__badge{

        background-color: $color_accent;
        padding: $space_m;
        color: $color_black1;
        font-weight: bold; 
        margin-right: $space_xxl;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        height: 20px;
        border-radius: 5px;
        @include mq(sm) {
            //            display: none;
            font-size: $font-size_m;
            width:  50px;
            margin-top: $space_xl;
            margin-left: $space_xl;

        }


    }

    &__title{
        text-align: center;
        font-size: $font-size_3l;
        margin-top: $space_xxl;

        margin-bottom: $space_xxl;
        color: $color_black1;
        font-family: $font-family_sub;
        @include mq(sm) {
            margin: $space_xxl $space_l;
            font-size: $font-size_xxl;
            text-align: left;

        }



    }

    &__body{
//        text-align: center;
        width: 95%;
        margin: 0 auto;
        @include mq(sm) {
            margin: $space_xxl $space_l;
            font-size: $font-size_l;
            text-align: left;

        }
    }

}