.l-main{
    width: 70%;
    padding-right: $space_5l;
    @include mq(sm) {
        width: 100%;
        padding-right: 0;

    }


    &--1column{
        margin: 0 auto;
        width: 55%;
        padding-right: 0;

        @include mq(sm) {
            width: 90%;
        }


    }

    &__text{
        font-size: $font-size_m;
        margin-bottom: $space_3l;
        //&--margin-left{
        //    margin-left: $space_xxl;
        //    margin-right: $space_xxl;
        //
        //}

        @include mq(sm) {
            width: 90%;
            margin: auto auto;
        }


    }

    &__toppage-text{
        letter-spacing: 0.08em;
        margin-bottom: $space_8l;

    }

    &__font-empha{
        color: $color_main;
        font-weight: bold;
    }

}