.l-nav{
    
    display: flex;
    
    @include mq(sm) {
        display: none;
    }
    
    font-size: $font-size_xl;
    font-family: $font-family_sub;
//    margin: $space_xl;
    &__item{
        margin: 0 0 $space_xl $space_xl;
        font-weight: bolder;
    }
    &__link{
        color: $color_white1;
        transition: .3s;
        
        &:hover{
//            color: $color_black4;
            color: $color_accent;
//            color: $color_white1;
            


//            text-decoration: underline;
            transition: .3s;
        }

    }
}