.l-page-title{
  width: $site-width_pc;
  @include mq() {
    width: 100%;
  }

  margin: 0 auto;
  padding: $space_3l 0 ;

  &__title{
    text-align: center;
    font-size: $font-size_xxl;
    font-family: 'Georgia', serif;
    margin: $space_m auto 0;

    color: $color_main;//非対応のブラウザでの文字色を設定
    background: -webkit-linear-gradient(0deg, $color_main, $color_sub);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示

  }


  &__sub-title{
    text-align: center;
    font-size: $font-size_ss;
    margin-top: $space_m;
  }

}