.l-sp-menu{
    display: none;

    @include mq(sm) {
        transform: translateX(-100%);
        transition: .5s;

        &.active{
            display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            weight: 100vw;
            height: calc(100vh - #{$space_5l});
            transform: translateX(0%);
            transition: .5s;

        }
        background: $color_main;
        background: -webkit-linear-gradient(to right, $color_main, $color_sub);
        background: linear-gradient(to right, $color_main, $color_sub);
        z-index: 9;

    }

    &__wrap-list{
        background-color: $color_white1;
        padding: $space_m;
        margin: $space_m;
        border-radius: 5px;
    }

    &__category-list{
        &-item{
            font-weight: bold;
            border-bottom: solid 1px $color_black3;
            padding: $space_s $space_m;
        }
        &-link{

        }

    }

    &__global-nav{
        margin-top: $space_l;
    }

    &__nav{
        display: flex;
        justify-content: space-around;

        &-item{

        }
        &-link{

        }
    }





}