.p-input-one-child-step{
    width: 33%;
    @include mq(sm) {
        width: 100%;


    }

    
//    background-color: red;
    border-radius: 5px;
    
    &__title{
        font-size: $font-size_l;
        margin-top: $space_6l; 

    }
    
    &__input{
        width: 95%;
        border-radius: 5px;
        display: block;
        margin: $space_m auto;

        height:50px;
        font-size: $font-size_l;
        box-sizing: border-box;
        outline: none;
        padding: $space_m;
        background-color: $color_grey_light;
        
        &:focus {
            border: 3px solid $color_main;
        }

        &::placeholder {
            color: $color_black3;
        }


    }
    
    &__detail{
        font-size: $font-size_l;
        margin-top: $space_xxl; 

    }

    &__textarea{
        width: 95%;

        border-radius: 5px;
        display: block;
        margin: $space_m auto;
        height:200px;
        border-radius: 5px;
        font-size: $font-size_l;
        box-sizing: border-box;
        outline: none;
        padding: $space_m;
        background-color: $color_grey_light;

        &:focus {
            border: 3px solid $color_main;
        }
    }

    &__err-msg{
        color: $color_danger;
        font-size: $font-size_l;

    }

}