.p-profile-show-area{

  text-align: center;
  margin-bottom: $space_3l;


  &__one-info{
    margin-bottom: $space_xxl;

  }

  &__label{
    font-size: $font-size_m;
    margin-bottom: $space_m;
    display: block;
    text-align: left;

  }

  &__content{
    text-align: left;

    display: block;
    width: 100%;
    height:50px;
    //border-radius: 5px;
    font-size: $font-size_s;
    box-sizing: border-box;
    //outline: none;
    padding: $space_m $space_m $space_s;
    //border: 1px solid $color_black3;

    margin-top: $space_s;

  }

  &__img{

  }


}