.p-wrap-panel-and-input{
//            width: 33%;
    
//        margin-left: $space_l;
//
//    &:last-child{
//        margin-right: $space_l;
//
//    }
    margin: 0;

    
    &__panel{
        width: 100%;
    }
    
    &__input{
        width: 30%;
        display: block;
    }
    
    
}