.u-margin-bottom{
  //color:blue;
  //
  //background-color: red;
  //margin-bottom: $space_xxl;
  //display: none;
  //padding: 50px;
  //


  &__mypage-edit-progress-btn{
    margin-bottom: $space_4l;
    display: block;
  }

  &__error-message-edit-progress{
    margin-bottom: $space_4l;
    display: block;

  }


}