.u-margin{

    &__withdraw-input{
        margin-bottom: $space_6l;
    }
    
    
    &__sp-menu{
        margin-top: $space_6l;

        
        
        
        &-submit{
            margin-top: $space_l;
        }
    }


    
}